<!-- start custom head snippets -->
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<!-- end custom head snippets -->

<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>mermaid.initialize({ startOnLoad: true });</script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script>
    function fn_spread(id) {
        if ($('#Category' + id).is(":visible") && $('#Category' + id).css("overflow") != "hidden")
        {
            $('#Category' + id).slideUp();
            $('#Category' + id).css("max-height", "0%");
            $('#Category' + id).css("opacity", "0%");
            $('#Category' + id).css("z-index", "10");
            $('#Category' + id).css("overflow", "hidden");
            $('#Category' + id).css("display", "none");

            $('#Icon' + id).toggleClass("fas fa-angle-up");
        }
        else
        {
            $('#Category' + id).slideDown({
                complete: function () {
                    $('#Category' + id).css("overflow", "visible");
                }
            });
            $('#Category' + id).css("max-height", "100%");
            $('#Category' + id).css("opacity", "100%");
            $('#Category' + id).css("z-index", "0");
            $('#Category' + id).css("overflow", "visible");
            $('#Category' + id).css("display", "block");

            $('#Icon' + id).toggleClass("fas fa-angle-down");
        }
    }
</script>