{% assign category_cur = include.category %}

<div>
{% assign entries_layout = 'grid' %}
{% for category in site.categories %}
  {% if category[0] == category_cur %}
    <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
      <h2 class="archive__subtitle">{{ category[0] }}</h2>
      <div class="entries-{{ entries_layout }}">
        {% for post in category.last %}
          {% include archive-single.html type=entries_layout %}
        {% endfor %}
      </div>
      <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    </section>
  {% endif %}
{% endfor %}
</div>